---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>
Astro Presentation & Tutorial</h1>
  <p>Andrew Sullivan, Ben Spiers, Pedro Santos, Stephen Ward </p>
  <p>October 2025</p>
</BaseLayout>
