---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>
Astro Presentation </h1>
  <p>Andrew Sullivan, Ben Spiers, Pedro Santos, Stephen Ward </p>
</BaseLayout>
