---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

      <link rel="icon" href="/favicon.ico" />

    <title>{title}</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0; 
        background-color: azure;
      
      }
      nav {
        font-size: 1.3rem;
        background: #222;
        padding: 1.8rem;
        position: sticky;
        top: 0;
      }
      nav a {
        color: white;
        margin-right: 10px;
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
      }


      main { padding: 6rem; }

    :global(.content img) {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }


  :global(.content h2) {
    margin-top: 2rem;
    color: #333;
  }

  :global(.content p) {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  :global(section) {
    margin-bottom: 5rem;

  }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="./presentation">Presentation</a>
      <a href="./tutorial">Tutorial</a>
    </nav>
    <main class="content">
      <slot /> 
    </main>
  </body>
</html>
